<div dojoAttachPoint="_contentNode" class="padding6">
  <table cellspacing="0" cellpadding="0" border="0" dojoAttachPoint="_dlgNode">
    <tbody>
      <tr>
        <td class="alert">
          <div class="ok">
            <b dojoAttachPoint="_msgOperDesc"></b>
            <p dojoAttachPoint="_msgOperDetail"></p>
          </div>
          <div class="bottomBtn">
            <span class="public_button" dojoAttachPoint="_buttonNodes"></span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>