.tundra .dijitDialogUnderlay,.claro .dijitDialogUnderlay {
    background: #000;
}

.tundra .dijitSplitContainer-child,.tundra .dijitBorderContainer-child,.claro .dijitSplitContainer-child,.claro .dijitBorderContainer-child
    {
    border: none;
}

.claro .dijitSplitContainer-dijitContentPane,.claro .dijitBorderContainer-dijitContentPane
    {
    padding-top: 2px;
    padding-bottom: 2px;
}

#barner {
    padding: 8px;
}

html,body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#appLayout {
    height: 100%;
}

/******************************************************************************/
fieldset {
    margin-top: 8px;
}

/*******************************************************************************
**************************form style******************************************** 
*******************************************************************************/
.formTable {
    width: 80%;
}

.formTable .labelCell {
    text-align: right;
    width: 35%;
    white-space: nowrap;
}

em {
    color: red;
}

em:after {
    content: " "
}
/*******************************************************************************
**************************form style******************************************** 
*******************************************************************************/
.simpleTableInfo table {
    border-collapse: collapse;
    margin-left: -1px;
    border: solid #DEDEDE;
    border-width: 0 1px;
}

.simpleTableInfo th {
    padding: 5px;
    background: #F0F0F0;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    border-left: 1px solid #F0F0F0;
    font-weight: normal;
}

.simpleTableInfo td {
    padding: 5px;
    background: #fff;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    border-left: 1px solid #F0F0F0;
    text-align: center;
}