.tundra .dijitDialogUnderlay {
    background: #000;
}

.tundra .dijitSplitContainer-child,.tundra .dijitBorderContainer-child {
    border: none;
}

html,body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#appLayout {
    height: 100%;
}

/*******************************************************************************
**************************form style******************************************** 
*******************************************************************************/
.formTable {
    width: 80%;
}

.formTable .labelCell {
    text-align: right;
    width: 35%;
    white-space: nowrap;
}

em {
    color: red;
}

em:after {
    content: " "
}
/*******************************************************************************
**************************form style******************************************** 
*******************************************************************************/