.tundra .dijitDialogUnderlay,.claro .dijitDialogUnderlay {
    background: #000;
}

.tundra .dijitSplitContainer-child,.tundra .dijitBorderContainer-child,.claro .dijitSplitContainer-child,.claro .dijitBorderContainer-child
    {
    border: none;
}

.tundra .dijitSplitContainer-dijitContentPane,.tundra .dijitBorderContainer-dijitContentPane,.claro .dijitSplitContainer-dijitContentPane,.claro .dijitBorderContainer-dijitContentPane
    {
    padding-top: 2px;
    padding-bottom: 2px;
}

.tundra .dijitContentPane,.claro .dijitContentPane {
    padding: 0;
}

.dojoxGridCell .dijitButton {
    margin: 0;
}

/******************************************************************************/
.msgContent {
    min-height: 100px;
    padding: 10px;
}

.msgIcon {
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    width: 64px;
    min-height: 100px;
    padding: 10px;
}

.alertIcon {
    background-image: url("img/msg_alert_32.png");
}

.errorIcon {
    background-image: url("img/msg_error_32.png");
}

.confirmIcon {
    background-image: url("img/msg_confirm_32.png");
}

.msgButtonBar {
    text-align: right;
    padding-right: 20px;
    min-width: 400px;
    background-color: #EFEFDF;
}

/******************************************************************************/
.loginDialogButtonBar {
    padding: 3px;
    text-align: center;
}
/******************************************************************************/
#barner {
    padding: 8px;
}

#appLayout {
    height: 100%;
}

/******************************************************************************/
html,body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

fieldset {
    margin: 8px 2px 0;
    padding: 0.35em 0.625em 0.75em;
    border: 2px groove threedface;
}

/*******************************************************************************
**************************form style******************************************** 
*******************************************************************************/
.formTable {
    width: 80%;
}

.formTable .labelCell {
    text-align: right;
    width: 35%;
    white-space: nowrap;
}

em {
    color: red;
}

em:after {
    content: " "
}
/*******************************************************************************
**************************form style******************************************** 
*******************************************************************************/
.simpleTableInfo table {
    border-collapse: collapse;
    margin-left: -1px;
    border: solid #DEDEDE;
    border-width: 0 1px;
}

.simpleTableInfo th {
    padding: 5px;
    background: #F0F0F0;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    border-left: 1px solid #F0F0F0;
    font-weight: normal;
}

.simpleTableInfo td {
    padding: 5px;
    background: #fff;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    border-left: 1px solid #F0F0F0;
    text-align: center;
}

/*******************************************************************************
**************************detail style******************************************** 
*******************************************************************************/
.details {
    margin-left: 100px;
    float: left;
}

.details .desc {
    line-height: 25px;
}

.bolder {
    font-weight: bold;
}

.detail {
    float: left;
    min-width: 200px;
    background-color: #E8FDA9;
    border: 1px solid #759DC0;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    color: #000;
    padding: 2px 4px 4px;
    text-align: center;
}

.arrow {
    clear: both;
    width: 200px;
    height: 32px;
    text-align: center;
    background-image: url("img/arrow_down_32.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.schedule .detail {
    background-color: #E5F2FE;
    border-color: #759DC0;
}

.schedule .arrow {
    background-image: url("img/blue_arrow_down_32.png");
}

/***************************detail style***************************************/
.popupTip {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 300px;
    background: #FFF;
}
/***************************detail style***************************************/

/***************************schedule style***************************************/
.dndContainer {
    width: 30%;
    float: left;
    margin-left: 5%;
}

.dndContainer ul {
    margin: 0;
    padding: 5px;
    border: 1px solid #AAAAAA;
}

.dndTarget {
    height: 40px;
}

.dndSource {
    min-height: 40px;
    max-height: 300px;
    overflow: auto;
}

.item {
    line-height: 25px;
    margin-top: 3px;
    padding-left: 5px;
    border: 1px solid #759DC0;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    list-style: none;
}

.dojoDndItem {
    background-color: #E5F2FE;
}

.handledItem {
    background-color: #BBB;
}

.dojoDndItemOver {
    background-color: #ededed;
    cursor: pointer;
}

.dojoDndItemSelected {
    background-color: #5bbdea;
    color: #444;
}

.dojoDndItemAnchor {
    background-color: #5bbdea;
    color: black;
}

.dojoDndItemOver .dojoDndItemSelected {
    background-color: #ededed;
}

.dojoDndItemOver .dojoDndItemAnchor {
    background-color: #ededed;
}

.dojoDndItemBefore,.dojoDndItemBefore>td {
    border-top: 2px solid #369;
}

.dojoDndItemAfter,.dojoDndItemAfter>td {
    border-bottom: 2px solid #369;
}

.dojoDndAvatar {
    border: 2px solid #ccc;
}

.dojoDndAvatarHeader {
    background-color: #aaa;
}

.dojoDndAvatarItem {
    background-color: #fff;
    border-bottom: 1px solid #666;
}

.dojoDndAvatarItem .itemText {
    font-size: 120%;
}
/***************************schedule style***************************************/